/* HIDE INCREMENT/DECREMENT BUTTON OF NUMBER INPUT */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Section - Form */

.section-form{
    max-width: 640px;
    width: 100%;
}


/* SIZE INPUT TABLE */

.size-input-table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;

    table-layout: fixed;
}

.size-input{
    width: 100%;
    max-width: 3rem;
}

input{
    border: none;
    outline: none;
}

input:focus{
    border: none;
    outline: none;
}