/* HIDE INCREMENT/DECREMENT BUTTON OF NUMBER INPUT */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Section - Form */

.section-form{
    max-width: 640px;
    width: 100%;
}


/* SIZE INPUT TABLE */

.size-input-table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;

    table-layout: fixed;
}

.size-input{
    width: 100%;
    max-width: 2rem;
}

input{
    border: none;
    outline: none;
}

input:focus{
    border: none;
    outline: none;
}


/* OPTIONS-RADIO CLASS: This is for styling of the radio buttons in product,color and prints */
.options-radio{
    border: 1px black solid;
    border-radius: 8px;
    padding: 3px;

        margin-right: 4px;
}

.options-radio input[type="radio"]{
    display: none;
}

.options-radio span {
    display: inline-block;
    padding: 5px;
}

.options-radio:has(input[type="radio"]:checked){
    background-color: #e5e5e5;
    border-radius: 8px;
}