<link rel="stylesheet" href="https://cloudflare.com">
<section class="section-form">
    <div class="selection-div">

    <app-product-selector
        [products]="products"
        [selectedProduct]="selectedProduct"
        (productChanged)="changeSelectedProduct($event)"
        [productSelectorTitle]="'Our Products'">
    </app-product-selector>
    
    <!-- @if(!isModalView){ -->
     <br>
        <p style="font-weight: 700; color: #0f2d48;">Available Colors</p>
        @for(color of selectedProduct.colors; track color){
            <label class="options-color">
                <span class="color-swatch" [style.background-color]="colors[color]"></span>
                <span>{{color}}</span>
            </label>
        }
    <!-- } -->
    </div>
    <div class="product-info-grid">
        <div class="selector-div">
            <h4>{{selectedProduct.product_name}}</h4>
            <h6>{{selectedProduct.product_description}}</h6>
            <div class="imageSlider">
                <div class="slider-container">
                    <div class="slider-zone left-zone">
                        <span class="slider-arrow">❮</span>
                    </div>

                    <img [src]="selectedProduct.images[currentImage]"
                    (click)="changeImage($event)">      

                    <div class="slider-zone right-zone">
                        <span class="slider-arrow">❯</span>
                    </div>

                </div>
                <div>
                    <p>{{currentImage+1}}/{{selectedProduct.images.length}} &sdot; {{currentColor}}</p>
                </div>
            </div>            
        </div>
        <div class="button-div-2">
            <!-- <button class="button-common" (click)="activeModal='mockup'">Generate a Mockup</button> -->
            <button class="button-common newline">
                Price Range: 
                <br>
                ₹{{selectedProduct.b2c_price[20]-30}}-₹{{selectedProduct.b2c_price[20]+40}}
                <br>
                (Includes Printing)
            </button>
        </div>
        <div class="button-div-2">
            <!-- <button class="button-common" (click)="activeModal='catalog'"> -->
            <button class="button-common" routerLink="/">
                Get your Quote
            </button>
        </div>
    </div>
    <!-- <div class="product-details"> 
        <h2>{{selectedProduct.product_name}}</h2>
        <h3>{{selectedProduct.product_description}}</h3>
    </div> -->
    <div class="selector-div">
        <h4>Size Chart</h4>
        <br>
        <table class="size-table">
            <tr>
                <th class="table-header">Sizes</th>
                <!-- <td class="sample-header">1-9PCS PCS</td> -->
                <td class="sample-price" *ngFor="let size of selectedProduct.sizes">{{ size }}</td>
            </tr>
            <tr>
                <th class="table-header">Chest</th>
                <td class="sample-price" *ngFor="let size of selectedProduct.sizes">
                    {{ sizeCharts[selectedProduct.id][size]?.chest || '–' }}</td>
                </tr>
                <tr>
                    <th class="table-header">Length</th>
                    <td class="sample-price" *ngFor="let size of selectedProduct.sizes">
                        {{ sizeCharts[selectedProduct.id][size]?.length || '–' }}
                    </td>
                </tr>
                <tr>
                    <th class="table-header">Shoulder</th>
                    <td class="sample-price" *ngFor="let size of selectedProduct.sizes">
                        {{ sizeCharts[selectedProduct.id][size]?.shoulder || '–' }}
                    </td>
                </tr>
            </table>
    </div>
    
    <div class="selector-div">
        <div class="imageSlider">
            <h2 style="color: #0f2d48;">Client works</h2>
            <div class="slider-container">
                <div class="slider-zone left-zone">
                    <span class="slider-arrow">❮</span>
                </div>
                <img [src]="printedImages[currentPrintedImage]"
                (click)="changePrintedImage($event)">           
                <div class="slider-zone right-zone">
                    <span class="slider-arrow">❯</span>
                </div>
                <div class="slider-caption">
                    <p>{{currentPrintedImage+1}}/{{printedImages.length}}</p>
                </div>
            </div>
            <br>
            <h4 style="color: #0f2d48;">Click on the whatapp icon to chat and order!</h4>
        </div>
        
        <div class="whatsapp-chat-button">
            <a href="https://wa.me/918904467234?text=Hello,%20I%20want%20to%20place%20an%20order" class="floating-whatsapp" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>
    </div>
</section>