/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Stack Sans Text', sans-serif;
}

/* IMPORTANT FOR FONT SIZES */
/* Default desktop styles (100% = 16px) */
html {
  font-size: 100%; 
}

/* Mobile scaling (87.5% of 16px = 14px) */
@media (max-width: 768px) {
  html {
    font-size: 85%;
  }

  .bi-eye{
    width: 0.8rem;
  }
}


.main-container{
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;    
}

body{
    margin: 0;
    padding: 0;
}

/* HIDE INCREMENT/DECREMENT BUTTON OF NUMBER INPUT */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Section - Form */

.section-form{
    width: 100%;
    max-width: 30rem;

    margin: 0 auto;
}

/* SIZE INPUT TABLE */

.size-input-table{
    border: 1px solid black;
    border-collapse: collapse;

    
    width: 90%;
    
    margin: 0rem 0.25rem;
    
    table-layout: fixed;
}
.size-input-table th{
    background-color: #b0c4de;
}

.size-input{
    width: 100%;
    max-width: 5rem;
}

input{
    border: none;
    outline: none;
    width: 100%;
    background: none;
}

/* input:focus{
    border: none;
    outline: none;
} */

.design-name{
    border: 1px black solid;
}


/* OPTIONS-RADIO CLASS: This is for styling of the radio buttons in product,color and prints */
.options-radio{
    border: 1px black solid;
    border-radius: 8px;
    padding: 3px;

    margin-right: 4px;
}

.options-radio input[type="radio"]{
    display: none;
}

.options-radio span {
    display: inline-block;
    padding: 5px;
}

.options-radio:hover{
    background-color: #0f2d4833;
    transition: all 0.1s;
}

.options-radio:has(input[type="radio"]:checked){
    background-color: #e5e5e5;
    border-radius: 8px;
}

.input-common{
    background: #fff;
    width: auto;
    margin-bottom: 0.5rem;

    border: 1px solid #0f2d48 !important;
    padding: 0.25rem 0.5rem;
    border-radius: 8px;

    color: #0f2d48;
}

.input-label{
    
    color: #0f2d48;
}

.button-common{
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    border: 1px solid #0f2d48;
    
    max-width: 14rem;
    cursor: pointer;
}

.navy{
    background-color: #0f2d48;
    color: #f8fafc;
    font-weight: bold;
}

.warmwhite{
    background-color: #f8fafc;
    color: #0f2d48;
    font-weight: bold;
}

.gold{
    background-color: #c9a227;
    color: #0f2d48;
    
    font-weight: bold;
}

.maroon{
    background-color: #6e0000;
    color: #f8fafc;
    font-weight: bold;
}

.display-common{
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    border: 1px solid #0f2d48;
    
    max-width: 12rem;
}


/* CARD DIV */

.card-div{
    border: 1px solid black;
    border-radius: 0.5rem;
    
    margin: 0rem 0.25rem;
    padding: 0.5rem 0.5rem;
    background: #0f2d48;
    color: #F8FAFC;

    margin-bottom: 0.5rem;
}

.card-div h4{
    text-transform: uppercase;
    text-decoration: underline;
    color: #F8FAFC;
    font-weight: 700;
    
    margin-bottom: 2px;
    margin-top: 4px;
}

.card-div h6{
    margin: 0rem auto;
    margin-bottom: 0.2rem;
    
    text-align: left;
    color: #F8FAFC;
}

.card-div a{
    /* text-decoration: none; */
    border-radius: 8px;
    margin: 0.5rem;

    padding: 0.1rem 0.5rem;
    color: #F8FAFC;
}

.flex-row{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

/* SCROLLABLE DIV */

.scroll-div {
  max-height: 75vh; /* Adjust this height to fit your modal */
  overflow-y: auto;
  margin-top: 10px;
  padding-right: 8px;
}

/* Optional: Makes the scrollbar look sleek and modern */
.scroll-div::-webkit-scrollbar {
  width: 6px;
}
.scroll-div::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}